# Preprocessing training data

In [ ]:
# Import libararies
import os
import copy
import pandas as pd
import numpy as np
from collections import Counter
from datetime import date, timedelta
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Importing datasets
met_stations = pd.read_csv('/content/drive/MyDrive/FYP/met-stations.tsv',sep='\t',index_col=0)
met_forecast = pd.read_csv('/content/drive/MyDrive/FYP/met-forecast.tsv',sep='\t',index_col=0) 
rl_sites = pd.read_csv('/content/drive/MyDrive/FYP/rl-sites.tsv',sep='\t',index_col=0)
rl_kpis = pd.read_csv('/content/drive/MyDrive/FYP/rl-kpis.tsv',sep='\t',index_col=0)
distances = pd.read_csv('/content/drive/MyDrive/FYP/distances.tsv',sep='\t', index_col=0)
met_real = pd.read_csv('/content/drive/MyDrive/FYP/met-real.tsv',nrows=3000, sep='\t',index_col=0)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
met_stations.head()

  station_no  height     clutter_class
0   WS_17047     381        DENSE TREE
1   WS_17062       5  LOW-MEDIUM URBAN
2   WS_17063      99           AIRPORT
3   WS_17064      18     OPEN IN URBAN
4   WS_17065     123  LOW-SPARSE URBAN

In [ ]:
rl_kpis.head()

  type    datetime  tip  mlid  ... rxlevmax capacity modulation    rlf
0  ENK  2018-12-31  FAR  A0BE  ...    -31.0    456.0    1024QAM  False
1  ENK  2018-12-31  FAR  A0BI  ...    -30.7    456.0    1024QAM  False
2  ENK  2018-12-31  FAR  A5AB  ...    -34.4    406.0     512QAM  False
3  NEC  2018-12-31  FAR  A8CQ  ...    -35.3    247.0   2048QAM*  False
4  NEC  2018-12-31  FAR  A8DQ  ...    -35.3    247.0   2048QAM*  False

[5 rows x 18 columns]

In [ ]:
rl_kpis['adaptive_modulation'].value_counts()

Enable     1798492
Disable     194494
Name: adaptive_modulation, dtype: int64

In [ ]:
met_forecast.head()

  station_no    datetime  ... wind_dir_day5 wind_speed_day5
0   WS_17047  2018-01-02  ...         210.0            16.0
1   WS_17047  2018-01-02  ...         210.0            16.0
2   WS_17062  2018-01-02  ...         107.0            14.0
3   WS_17062  2018-01-02  ...         107.0            14.0
4   WS_17063  2018-01-02  ...         131.0            14.0

[5 rows x 38 columns]

In [ ]:
rl_sites.head()

    site_id  groundheight clutter_class
0  RL_;ABDV      107.9658     OPEN LAND
1  RL_;ABL>       97.9733     OPEN LAND
2  RL_;ABTP        3.0446     OPEN LAND
3  RL_;AC?E       85.0143     OPEN LAND
4  RL_;ADKP      192.9800    DENSE TREE

In [ ]:
# Station names
stations = met_stations['station_no'].tolist()

In [ ]:
# Forecast dates
forecast_dates = sorted(list(set(met_forecast['datetime'])))

In [ ]:
met_forecast.sort_values(by=['station_no', 'datetime']).head()

   station_no    datetime  ... wind_dir_day5 wind_speed_day5
0    WS_17047  2018-01-02  ...         210.0            16.0
1    WS_17047  2018-01-02  ...         210.0            16.0
20   WS_17047  2018-01-03  ...         211.0            16.0
21   WS_17047  2018-01-03  ...         211.0            16.0
40   WS_17047  2018-01-04  ...         213.0            22.0

[5 rows x 38 columns]

In [ ]:
to_drop = [c for c in met_forecast.columns 
           if ('day1' not in c) and (c not in ['station_no', 'datetime', 'report_time'])]
met_forecast_v2 = met_forecast.drop(columns=to_drop)
met_forecast_v2.head()

  station_no    datetime  ... wind_dir_day1 wind_speed_day1
0   WS_17047  2018-01-02  ...           6.0            19.0
1   WS_17047  2018-01-02  ...           6.0            19.0
2   WS_17062  2018-01-02  ...          84.0            10.0
3   WS_17062  2018-01-02  ...          84.0            10.0
4   WS_17063  2018-01-02  ...          87.0            10.0

[5 rows x 10 columns]

In [ ]:
mean_values = met_forecast_v2.groupby(by=['station_no', 'datetime']).mean().reset_index()
mean_values.sort_values(by=['station_no', 'datetime']).head()

  station_no    datetime  ...  wind_dir_day1  wind_speed_day1
0   WS_17047  2018-01-02  ...            6.0             19.0
1   WS_17047  2018-01-03  ...            6.0             19.0
2   WS_17047  2018-01-04  ...            0.0             16.0
3   WS_17047  2018-01-05  ...          194.0              9.0
4   WS_17047  2018-01-06  ...          209.0             14.0

[5 rows x 8 columns]

**Categorical data**

In [ ]:
numerical_values = met_forecast_v2.describe().columns
non_num_df = met_forecast_v2[[x for x in met_forecast_v2.columns 
                              if x not in numerical_values]]
non_num_df.head()

  station_no    datetime report_time weather_day1
0   WS_17047  2018-01-02     evening   heavy rain
1   WS_17047  2018-01-02     morning   heavy rain
2   WS_17062  2018-01-02     evening   heavy rain
3   WS_17062  2018-01-02     morning   heavy rain
4   WS_17063  2018-01-02     evening   heavy rain

In [ ]:
# 'Report_time' will be dropped
ohe_df = copy.deepcopy(non_num_df[['station_no', 'datetime']])
for x in range(1):
  temp = pd.get_dummies(non_num_df[f'weather_day{x+1}'], prefix=f'wd{x+1}')
  ohe_df = pd.concat([ohe_df, temp], axis=1)
ohe_df.head()

  station_no    datetime  ...  wd1_thunderstorm with heavy rain  wd1_windy
0   WS_17047  2018-01-02  ...                                 0          0
1   WS_17047  2018-01-02  ...                                 0          0
2   WS_17062  2018-01-02  ...                                 0          0
3   WS_17062  2018-01-02  ...                                 0          0
4   WS_17063  2018-01-02  ...                                 0          0

[5 rows x 21 columns]

In [ ]:
# Dealing with two datetimes
ohe_df = ohe_df.groupby(by=['station_no', 'datetime'], as_index=False).agg(lambda x: 1 if sum(x) > 1 else sum(x))
ohe_df.head()

  station_no    datetime  ...  wd1_thunderstorm with heavy rain  wd1_windy
0   WS_17047  2018-01-02  ...                                 0          0
1   WS_17047  2018-01-03  ...                                 0          0
2   WS_17047  2018-01-04  ...                                 0          0
3   WS_17047  2018-01-05  ...                                 0          0
4   WS_17047  2018-01-06  ...                                 0          0

[5 rows x 21 columns]

**Combining the numerical data with the categorical**

In [ ]:
modified_forecast_df = pd.merge(left=mean_values, right=ohe_df, on=['station_no', 'datetime'])
modified_forecast_df.head()

  station_no    datetime  ...  wd1_thunderstorm with heavy rain  wd1_windy
0   WS_17047  2018-01-02  ...                                 0          0
1   WS_17047  2018-01-03  ...                                 0          0
2   WS_17047  2018-01-04  ...                                 0          0
3   WS_17047  2018-01-05  ...                                 0          0
4   WS_17047  2018-01-06  ...                                 0          0

[5 rows x 27 columns]

On RL KPIS
-> Using modified data  \
-> Adding the forecast information from the nearest weather stations (from the previous day)\
-> Adding the KPI information from the previous day.

In [ ]:
distances

          WS_19111  WS_17047  WS_18397  ...  RL_JEZWL  RL_LKEII  RL_[EOMJ
WS_19111   0.00000  18.65248  60.37075  ...  47.79698  52.29356  42.63424
WS_17047  18.65248   0.00000  73.44414  ...  63.78482  67.44870  58.62208
WS_18397  60.37075  73.44414   0.00000  ...  18.98556  12.82358  21.98328
WS_17062  41.38519  57.53957  23.48214  ...   6.41179  11.90761   1.49886
WS_17813  44.21637  60.28748  21.31712  ...   3.58061   9.24297   1.66540
...            ...       ...       ...  ...       ...       ...       ...
RL_]IC?O  41.30192  56.87341  21.65020  ...   7.07795  11.07491   2.58137
RL_S:PQD  41.46846  57.53957  22.81598  ...   6.32852  11.40799   1.16578
RL_JEZWL  47.79698  63.78482  18.98556  ...   0.00000   6.32852   5.16274
RL_LKEII  52.29356  67.44870  12.82358  ...   6.32852   0.00000  10.32548
RL_[EOMJ  42.63424  58.62208  21.98328  ...   5.16274  10.32548   0.00000

[1694 rows x 1694 columns]

In [ ]:
distances[['WS_19111']]

          WS_19111
WS_19111   0.00000
WS_17047  18.65248
WS_18397  60.37075
WS_17062  41.38519
WS_17813  44.21637
...            ...
RL_]IC?O  41.30192
RL_S:PQD  41.46846
RL_JEZWL  47.79698
RL_LKEII  52.29356
RL_[EOMJ  42.63424

[1694 rows x 1 columns]

# **RL_LPIS_MOD**

In [ ]:
rl_sites = pd.read_csv('/content/drive/MyDrive/FYP/rl-sites.tsv',sep='\t')
rl_kpis_mod = pd.read_csv('/content/drive/MyDrive/FYP/rl-kpis.tsv', sep='\t')

In [ ]:
rl_kpis_mod.head()

   Unnamed: 0 type    datetime  tip  ... rxlevmax capacity modulation    rlf
0           0  ENK  2018-12-31  FAR  ...    -31.0    456.0    1024QAM  False
1           1  ENK  2018-12-31  FAR  ...    -30.7    456.0    1024QAM  False
2           2  ENK  2018-12-31  FAR  ...    -34.4    406.0     512QAM  False
3           3  NEC  2018-12-31  FAR  ...    -35.3    247.0   2048QAM*  False
4           4  NEC  2018-12-31  FAR  ...    -35.3    247.0   2048QAM*  False

[5 rows x 19 columns]

In [ ]:
from datetime import datetime

In [ ]:
# Forecast datetime should be - 1 day from the kpis datetime
rl_kpis_mod['forecast_datetime'] = [datetime.strptime(x.replace('-','/'),'%Y/%m/%d')  - pd.Timedelta(days=1) for x in rl_kpis_mod['datetime']]

CPU times: user 1min 19s, sys: 430 ms, total: 1min 20s
Wall time: 1min 21s

In [ ]:
# To find nearest station
def find_nearest_stations(site_id: str, distances: pd.DataFrame, 
                          stations: list, k: int = 1) -> str:
  temp = distances[[site_id]].sort_values(by=[site_id])
  temp = temp.loc[[x for x in temp.index if x in stations]].head(k)
  return list(temp.index)

In [ ]:
# Getting nearest station (just 1) based on the antennas - This might take a while
rl_kpis_mod['nearest_station'] = [find_nearest_stations(site_id, distances, stations)[0] for site_id in rl_kpis_mod['site_id']]

In [ ]:
rl_kpis_mod

         Unnamed: 0 type    datetime  ...    rlf forecast_datetime nearest_station
0                 0  ENK  2018-12-31  ...  False        2018-12-30        WS_18403
1                 1  ENK  2018-12-31  ...  False        2018-12-30        WS_18403
2                 2  ENK  2018-12-31  ...  False        2018-12-30        WS_18403
3                 3  NEC  2018-12-31  ...  False        2018-12-30        WS_18403
4                 4  NEC  2018-12-31  ...  False        2018-12-30        WS_18403
...             ...  ...         ...  ...    ...               ...             ...
1992981     1992981  NEC  2020-12-25  ...  False        2020-12-24        WS_17064
1992982     1992982  NEC  2020-12-25  ...  False        2020-12-24        WS_17064
1992983     1992983  NEC  2020-12-25  ...  False        2020-12-24        WS_17064
1992984     1992984  NEC  2020-12-25  ...  False        2020-12-24        WS_17064
1992985     1992985  NEC  2020-12-25  ...  False        2020-12-24        WS_17813

[1992986 rows x 21 columns]

In [ ]:
rl_kpis_mod.to_csv('rl_kpis_mod.csv')

In [ ]:
rl_kpis_mod= pd.read_csv('/content/drive/MyDrive/FYP/rl_kpis_mod.csv', index_col=0)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)