In [ ]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [ ]:
# Download test data from github
!wget -nc https://github.com/Turkcell/ITU-AIMLin5GChallenge-2021/raw/main/RLF_Prediction_ITU_AIML_Challenge_Data/RLF_Prediction_ITU_AIML_Challenge_Test_20210125.7z
!7z x RLF_Prediction_ITU_AIML_Challenge_Test_20210125.7z -aos RLF_Prediction_ITU_AIML_Challenge_Test_20210125/

File ‘RLF_Prediction_ITU_AIML_Challenge_Test_20210125.7z’ already there; not retrieving.


7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,2 CPUs Intel(R) Xeon(R) CPU @ 2.30GHz (306F0),ASM,AES-NI)

Scanning the drive for archives:
  0M Scan         1 file, 4819837 bytes (4707 KiB)

Extracting archive: RLF_Prediction_ITU_AIML_Challenge_Test_20210125.7z
--
Path = RLF_Prediction_ITU_AIML_Challenge_Test_20210125.7z
Type = 7z
Physical Size = 4819837
Headers Size = 277
Method = LZMA2:24
Solid = +
Blocks = 1

  0%     60% 2 . RLF_Prediction_ITU_AIML_Challeng . 210125/RegionA_test_20210125.zip                                                                            Everything is Ok

Folders: 1
Files: 2
Size:       34799058
Compressed: 4819837

In [ ]:
# Zip file reading
def read_table_from_zip(zip_path, table_name):
    with ZipFile(zip_path) as zip_file:
        with zip_file.open(table_name) as file:
            df = pd.read_csv(file, sep="\t", index_col=0)
            if "datetime" in df:
                df["datetime"] = pd.to_datetime(df["datetime"])
            return df

In [ ]:
data_zip_path = "./RLF_Prediction_ITU_AIML_Challenge_Test_20210125/RegionA_test_20210125.zip"

# Example read for RL-KPIS
validation_rl_kpis = read_table_from_zip(data_zip_path, "rl-kpis.tsv")
print(f"validation_rl_kpis.shape: {validation_rl_kpis.shape}")
print(validation_rl_kpis.datetime.min(), validation_rl_kpis.datetime.max())
validation_rl_kpis.tail(5)

validation_rl_kpis.shape: (50978, 19)
2021-01-25 00:00:00 2021-02-13 00:00:00

      type   datetime   tip  ... capacity  modulation    rlf
50973  NEC 2021-02-13  NEAR  ...      495    2048QAM*  False
50974  NEC 2021-02-13  NEAR  ...      495    2048QAM*  False
50975  NEC 2021-02-13   FAR  ...      495    2048QAM*  False
50976  NEC 2021-02-13   FAR  ...      495    2048QAM*  False
50977  NEC 2021-02-13  NEAR  ...      495    2048QAM*  False

[5 rows x 19 columns]

In [ ]:
rl_kpis=validation_rl_kpis

In [ ]:
rl_kpis.shape

(50978, 19)

# Prepare Labels

In [ ]:
df_labels = rl_kpis[["datetime", "site_id", "mlid"]]
df_labels.head()
#  Prepare columns for the following days. We will join data with these columns to find RLF
prediction_interval = 5

for i in range(prediction_interval):
  df_labels[f"T+{i+1}"] = df_labels["datetime"] + pd.DateOffset(days=i+1)
df_labels.head()

rl_kpis_view = rl_kpis[["datetime", "site_id", "mlid", "rlf"]]
for i in range(prediction_interval):
  target_day_column_name = f"T+{i+1}"

  df_labels = df_labels.merge(rl_kpis_view, 
                  how = "left", 
                  left_on = ("site_id", "mlid", target_day_column_name),
                  right_on = ("site_id", "mlid", "datetime"),
                  suffixes = ("", "_y")
  )
  df_labels.rename(columns={"rlf": f"{target_day_column_name}_rlf"}, inplace=True)
df_labels.drop(columns=["datetime_y"], inplace=True)
df_labels.head()

# 1 day predict is equal to T+1 rlf
df_labels["1-day-predict"] = df_labels["T+1_rlf"]

# Interval predict (5-day predict) is based on T+1, T+2, T+3, T+4 and T+5
following_days_rlf_columns = [f"T+{i+1}_rlf" for i in range(prediction_interval)]

df_labels["5-day-predict"] = df_labels[following_days_rlf_columns].any(axis=1)
df_labels = df_labels[["datetime", "site_id", "mlid", "1-day-predict", "5-day-predict"]]

print(f"df_labels.shape: {df_labels.shape}")
print(f"df_labels 1-day rlf sum: {df_labels['1-day-predict'].sum()}")
print(f"df_labels 5-day rlf sum: {df_labels['5-day-predict'].sum()}")
df_labels.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

df_labels.shape: (50978, 5)
df_labels 1-day rlf sum: 8
df_labels 5-day rlf sum: 35

    datetime   site_id  mlid 1-day-predict  5-day-predict
0 2021-01-25  RL_;ABDV  A0BE         False          False
1 2021-01-25  RL_;ABDV  A0BI         False          False
2 2021-01-25  RL_;ABDV  A5AB         False          False
3 2021-01-25  RL_;ABDV  A8CQ         False          False
4 2021-01-25  RL_;ABDV  A8DQ         False          False

In [ ]:
# Now join labels with rl-kpis
rl_kpis_with_labels = rl_kpis.merge(df_labels, 
                                    how="left", 
                                    on=["datetime", "site_id", "mlid"])
rl_kpis_with_labels.head()

  type   datetime  tip  mlid  ...  modulation    rlf 1-day-predict 5-day-predict
0  ENK 2021-01-25  FAR  A0BE  ...     1024QAM  False         False         False
1  ENK 2021-01-25  FAR  A0BI  ...     1024QAM  False         False         False
2  ENK 2021-01-25  FAR  A5AB  ...      512QAM  False         False         False
3  NEC 2021-01-25  FAR  A8CQ  ...    2048QAM*  False         False         False
4  NEC 2021-01-25  FAR  A8DQ  ...    2048QAM*  False         False         False

[5 rows x 21 columns]

In [ ]:
rl_kpis_with_labels.shape

(50978, 21)

In [ ]:
# Example read for RL-KPIS
met_forecast = read_table_from_zip(data_zip_path, "met-forecast.tsv")
met_forecast.tail(5)

   station_no   datetime  ... wind_dir_day5 wind_speed_day5
15   WS_18403 2021-02-08  ...          29.0            20.0
16   WS_18404 2021-02-08  ...         359.0            23.0
17   WS_18404 2021-02-08  ...         359.0            23.0
18   WS_19111 2021-02-08  ...           NaN             NaN
19   WS_19111 2021-02-08  ...           NaN             NaN

[5 rows x 38 columns]

In [ ]:
met_forecast

   station_no   datetime  ... wind_dir_day5 wind_speed_day5
0    WS_17062 2021-02-08  ...          31.0            24.0
1    WS_17062 2021-02-08  ...          31.0            24.0
2    WS_17063 2021-02-08  ...          34.0            22.0
3    WS_17063 2021-02-08  ...          34.0            22.0
4    WS_17064 2021-02-08  ...          32.0            23.0
5    WS_17064 2021-02-08  ...          32.0            23.0
6    WS_17065 2021-02-08  ...          29.0            18.0
7    WS_17065 2021-02-08  ...          29.0            18.0
8    WS_17610 2021-02-08  ...         341.0            22.0
9    WS_17610 2021-02-08  ...         341.0            22.0
10   WS_18100 2021-02-08  ...          39.0            24.0
11   WS_18100 2021-02-08  ...          39.0            24.0
12   WS_18397 2021-02-08  ...          28.0            17.0
13   WS_18397 2021-02-08  ...          28.0            17.0
14   WS_18403 2021-02-08  ...          29.0            20.0
15   WS_18403 2021-02-08  ...          29.0            20.0
16   WS_18404 2021-02-08  ...         359.0            23.0
17   WS_18404 2021-02-08  ...         359.0            23.0
18   WS_19111 2021-02-08  ...           NaN             NaN
19   WS_19111 2021-02-08  ...           NaN             NaN

[20 rows x 38 columns]

In [ ]:
# Retaining only 5th day's weather data
to_drop = [c for c in met_forecast.columns 
           if ('day5' not in c) and (c not in ['station_no', 'datetime', 'report_time'])]
met_forecast_v2 = met_forecast.drop(columns=to_drop)
met_forecast_v2.head()

  station_no   datetime  ... wind_dir_day5 wind_speed_day5
0   WS_17062 2021-02-08  ...          31.0            24.0
1   WS_17062 2021-02-08  ...          31.0            24.0
2   WS_17063 2021-02-08  ...          34.0            22.0
3   WS_17063 2021-02-08  ...          34.0            22.0
4   WS_17064 2021-02-08  ...          32.0            23.0

[5 rows x 10 columns]

In [ ]:
mean_values = met_forecast_v2.groupby(by=['station_no', 'datetime']).mean().reset_index()
mean_values.sort_values(by=['station_no', 'datetime']).head()

  station_no   datetime  ...  wind_dir_day5  wind_speed_day5
0   WS_17062 2021-02-08  ...           31.0             24.0
1   WS_17063 2021-02-08  ...           34.0             22.0
2   WS_17064 2021-02-08  ...           32.0             23.0
3   WS_17065 2021-02-08  ...           29.0             18.0
4   WS_17610 2021-02-08  ...          341.0             22.0

[5 rows x 8 columns]

In [ ]:
numerical_values = met_forecast_v2.describe().columns
non_num_df = met_forecast_v2[[x for x in met_forecast_v2.columns 
                              if x not in numerical_values]]
non_num_df.head()

  station_no   datetime report_time     weather_day5
0   WS_17062 2021-02-08     evening  overcast clouds
1   WS_17062 2021-02-08     morning  overcast clouds
2   WS_17063 2021-02-08     evening  overcast clouds
3   WS_17063 2021-02-08     morning  overcast clouds
4   WS_17064 2021-02-08     evening  overcast clouds

In [ ]:
modified_forecast_df = pd.merge(left=mean_values, right=non_num_df, on=['station_no', 'datetime'])
modified_forecast_df.head()

  station_no   datetime  ...  report_time     weather_day5
0   WS_17062 2021-02-08  ...      evening  overcast clouds
1   WS_17062 2021-02-08  ...      morning  overcast clouds
2   WS_17063 2021-02-08  ...      evening  overcast clouds
3   WS_17063 2021-02-08  ...      morning  overcast clouds
4   WS_17064 2021-02-08  ...      evening  overcast clouds

[5 rows x 10 columns]

In [ ]:
modified_forecast_df.shape

(20, 10)

In [ ]:
modified_forecast_df.drop('report_time',axis='columns', inplace=True)
modified_forecast_df=modified_forecast_df.drop_duplicates(keep='first')

In [ ]:
modified_forecast_df.shape

(10, 9)

In [ ]:
modified_forecast_df.reset_index(inplace=True)
modified_forecast_df

   index station_no   datetime  ...  wind_dir_day5  wind_speed_day5     weather_day5
0      0   WS_17062 2021-02-08  ...           31.0             24.0  overcast clouds
1      2   WS_17063 2021-02-08  ...           34.0             22.0  overcast clouds
2      4   WS_17064 2021-02-08  ...           32.0             23.0  overcast clouds
3      6   WS_17065 2021-02-08  ...           29.0             18.0  overcast clouds
4      8   WS_17610 2021-02-08  ...          341.0             22.0  overcast clouds
5     10   WS_18100 2021-02-08  ...           39.0             24.0  overcast clouds
6     12   WS_18397 2021-02-08  ...           28.0             17.0  overcast clouds
7     14   WS_18403 2021-02-08  ...           29.0             20.0  overcast clouds
8     16   WS_18404 2021-02-08  ...          359.0             23.0  overcast clouds
9     18   WS_19111 2021-02-08  ...            NaN              NaN  overcast clouds

[10 rows x 10 columns]

In [ ]:
modified_forecast_df.drop('index',axis='columns', inplace=True)

In [ ]:
modified_forecast_df

  station_no   datetime  ...  wind_speed_day5     weather_day5
0   WS_17062 2021-02-08  ...             24.0  overcast clouds
1   WS_17063 2021-02-08  ...             22.0  overcast clouds
2   WS_17064 2021-02-08  ...             23.0  overcast clouds
3   WS_17065 2021-02-08  ...             18.0  overcast clouds
4   WS_17610 2021-02-08  ...             22.0  overcast clouds
5   WS_18100 2021-02-08  ...             24.0  overcast clouds
6   WS_18397 2021-02-08  ...             17.0  overcast clouds
7   WS_18403 2021-02-08  ...             20.0  overcast clouds
8   WS_18404 2021-02-08  ...             23.0  overcast clouds
9   WS_19111 2021-02-08  ...              NaN  overcast clouds

[10 rows x 9 columns]

In [ ]:
modified_forecast_df.shape

(10, 9)

In [ ]:
# Example read for RL-KPIS
distances = read_table_from_zip(data_zip_path, "distances.tsv")
distances.tail(5)

          WS_19111  WS_17047  WS_18397  ...  RL_JEZWL  RL_LKEII  RL_[EOMJ
RL_]IC?O  41.30192  56.87341  21.65020  ...   7.07795  11.07491   2.58137
RL_S:PQD  41.46846  57.53957  22.81598  ...   6.32852  11.40799   1.16578
RL_JEZWL  47.79698  63.78482  18.98556  ...   0.00000   6.32852   5.16274
RL_LKEII  52.29356  67.44870  12.82358  ...   6.32852   0.00000  10.32548
RL_[EOMJ  42.63424  58.62208  21.98328  ...   5.16274  10.32548   0.00000

[5 rows x 1694 columns]

In [ ]:
# Example read for RL-KPIS
met_stations = read_table_from_zip(data_zip_path, "met-stations.tsv")
met_stations.tail(5)

   station_no  height  clutter_class
15   WS_18735       6     DENSE TREE
16   WS_18736      70    SPARSE TREE
17   WS_18792     256      OPEN LAND
18   WS_19111      78  OPEN IN URBAN
19   WS_19112     330     DENSE TREE

In [ ]:
stations = met_stations['station_no'].tolist()

In [ ]:
# To find nearest station
def find_nearest_stations(site_id: str, distances: pd.DataFrame, 
                          stations: list, k: int = 1) -> str:
  temp = distances[[site_id]].sort_values(by=[site_id])
  temp = temp.loc[[x for x in temp.index if x in stations]].head(k)
  return list(temp.index)

In [ ]:
# Getting nearest station (just 1) based on the antennas - This might take a while
rl_kpis_with_labels['nearest_station'] = [find_nearest_stations(site_id, distances, stations)[0] for site_id in rl_kpis_with_labels['site_id']]

In [ ]:
rl_kpis_with_labels

      type   datetime   tip  ... 1-day-predict  5-day-predict nearest_station
0      ENK 2021-01-25   FAR  ...         False          False        WS_18403
1      ENK 2021-01-25   FAR  ...         False          False        WS_18403
2      ENK 2021-01-25   FAR  ...         False          False        WS_18403
3      NEC 2021-01-25   FAR  ...         False          False        WS_18403
4      NEC 2021-01-25   FAR  ...         False          False        WS_18403
...    ...        ...   ...  ...           ...            ...             ...
50973  NEC 2021-02-13  NEAR  ...           NaN          False        WS_17064
50974  NEC 2021-02-13  NEAR  ...           NaN          False        WS_17064
50975  NEC 2021-02-13   FAR  ...           NaN          False        WS_17064
50976  NEC 2021-02-13   FAR  ...           NaN          False        WS_17064
50977  NEC 2021-02-13  NEAR  ...           NaN          False        WS_17813

[50978 rows x 22 columns]

In [ ]:
type(rl_kpis_with_labels['datetime'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
# Example read for RL-KPIS
rl_sites = read_table_from_zip(data_zip_path, "rl-sites.tsv")
rl_sites.tail(5)

       site_id  groundheight         clutter_class
1406  RL_bKNAP       87.9808       LOW-DENSE URBAN
1407  RL_bKNLF       98.9881   AVERAGE-DENSE URBAN
1408  RL_bKNQF      148.9506           SPARSE TREE
1409  RL_bKZCQ       66.9809      HIGH-DENSE URBAN
1410  RL_bLTQH       39.9700  AVERAGE-MEDIUM URBAN

In [ ]:
modified_forecast_df['datetime']=[pd.Timestamp(x)+pd.Timedelta(days=5) for x in modified_forecast_df['datetime']]

In [ ]:
modified_forecast_df

  station_no   datetime  ...  wind_speed_day5     weather_day5
0   WS_17062 2021-02-13  ...             24.0  overcast clouds
1   WS_17063 2021-02-13  ...             22.0  overcast clouds
2   WS_17064 2021-02-13  ...             23.0  overcast clouds
3   WS_17065 2021-02-13  ...             18.0  overcast clouds
4   WS_17610 2021-02-13  ...             22.0  overcast clouds
5   WS_18100 2021-02-13  ...             24.0  overcast clouds
6   WS_18397 2021-02-13  ...             17.0  overcast clouds
7   WS_18403 2021-02-13  ...             20.0  overcast clouds
8   WS_18404 2021-02-13  ...             23.0  overcast clouds
9   WS_19111 2021-02-13  ...              NaN  overcast clouds

[10 rows x 9 columns]

In [ ]:
modified_forecast_df.rename(columns={'datetime':'forecast_datetime', 'station_no':'nearest_station'}, inplace=True)

In [ ]:
## KPI Historical (one day)
rl_kpis_history = rl_kpis_with_labels.copy()

# Dropping columns.
rl_kpis_history.drop(columns = ['nearest_station'],inplace=True)

# Assuring the dates are timestamp type
rl_kpis_history['datetime'] = [pd.Timestamp(x) for x in rl_kpis_history['datetime']]

# Adding with site data.
rl_kpis_history = rl_kpis_history.merge(rl_sites[['site_id','groundheight','clutter_class']], on='site_id')

# Renaming columns for merging.
rl_kpis_history.columns= ['history_{}'.format(column) for column in rl_kpis_history.columns]

rl_kpis_history

      history_type history_datetime  ... history_groundheight history_clutter_class
0              ENK       2021-01-25  ...             107.9658             OPEN LAND
1              ENK       2021-01-25  ...             107.9658             OPEN LAND
2              ENK       2021-01-25  ...             107.9658             OPEN LAND
3              NEC       2021-01-25  ...             107.9658             OPEN LAND
4              NEC       2021-01-25  ...             107.9658             OPEN LAND
...            ...              ...  ...                  ...                   ...
50973          NEC       2021-02-05  ...               1.0000             OPEN LAND
50974          NEC       2021-02-10  ...               1.0000             OPEN LAND
50975          NEC       2021-02-10  ...               1.0000             OPEN LAND
50976          NEC       2021-02-11  ...               1.0000             OPEN LAND
50977          NEC       2021-02-11  ...               1.0000             OPEN LAND

[50978 rows x 23 columns]

In [ ]:
rl_kpis_with_labels['datetime'][0]-pd.Timedelta(days=1)

Timestamp('2021-01-24 00:00:00')

In [ ]:
# Forecast datetime should be - 1 day from the kpis datetime
from datetime import datetime
rl_kpis_with_labels['datetime'] = [pd.Timestamp(x) for x in rl_kpis_with_labels['datetime']]
rl_kpis_with_labels['forecast_datetime'] = [x for x in rl_kpis_with_labels['datetime']]

In [ ]:
rl_kpis_with_labels

      type   datetime   tip  ... 5-day-predict  nearest_station forecast_datetime
0      ENK 2021-01-25   FAR  ...         False         WS_18403        2021-01-25
1      ENK 2021-01-25   FAR  ...         False         WS_18403        2021-01-25
2      ENK 2021-01-25   FAR  ...         False         WS_18403        2021-01-25
3      NEC 2021-01-25   FAR  ...         False         WS_18403        2021-01-25
4      NEC 2021-01-25   FAR  ...         False         WS_18403        2021-01-25
...    ...        ...   ...  ...           ...              ...               ...
50973  NEC 2021-02-13  NEAR  ...         False         WS_17064        2021-02-13
50974  NEC 2021-02-13  NEAR  ...         False         WS_17064        2021-02-13
50975  NEC 2021-02-13   FAR  ...         False         WS_17064        2021-02-13
50976  NEC 2021-02-13   FAR  ...         False         WS_17064        2021-02-13
50977  NEC 2021-02-13  NEAR  ...         False         WS_17813        2021-02-13

[50978 rows x 23 columns]

In [ ]:
# Some values seems to be dropped
merged_df = pd.merge(rl_kpis_with_labels, modified_forecast_df, 
                      on=['nearest_station','forecast_datetime'],
                      validate='m:m')
merged_df

     type   datetime  tip  ... wind_dir_day5  wind_speed_day5     weather_day5
0     ENK 2021-02-13  FAR  ...          29.0             20.0  overcast clouds
1     ENK 2021-02-13  FAR  ...          29.0             20.0  overcast clouds
2     ENK 2021-02-13  FAR  ...          29.0             20.0  overcast clouds
3     NEC 2021-02-13  FAR  ...          29.0             20.0  overcast clouds
4     NEC 2021-02-13  FAR  ...          29.0             20.0  overcast clouds
...   ...        ...  ...  ...           ...              ...              ...
1829  ENK 2021-02-13  FAR  ...          39.0             24.0  overcast clouds
1830  ENK 2021-02-13  FAR  ...          39.0             24.0  overcast clouds
1831  ENK 2021-02-13  FAR  ...          39.0             24.0  overcast clouds
1832  ENK 2021-02-13  FAR  ...          39.0             24.0  overcast clouds
1833  ENK 2021-02-13  FAR  ...          39.0             24.0  overcast clouds

[1834 rows x 30 columns]

In [ ]:
merged_df.to_csv('/content/drive/MyDrive/FYP/sample_data.csv')

In [ ]:
merged_df['forecast_datetime'] = [x  - pd.Timedelta(days=1) for x in merged_df['datetime']]

In [ ]:
# Some additional values seem to be dropped
merged_df = merged_df.merge(rl_kpis_history,left_on=['mlid','forecast_datetime'],right_on=['history_mlid','history_datetime'],validate='m:m')
merged_df

     type   datetime  ... history_groundheight history_clutter_class
0     ENK 2021-02-13  ...             107.9658             OPEN LAND
1     ENK 2021-02-13  ...             107.9658             OPEN LAND
2     ENK 2021-02-13  ...             107.9658             OPEN LAND
3     NEC 2021-02-13  ...             107.9658             OPEN LAND
4     NEC 2021-02-13  ...             107.9658             OPEN LAND
...   ...        ...  ...                  ...                   ...
1815  ENK 2021-02-13  ...              17.0185         OPEN IN URBAN
1816  ENK 2021-02-13  ...              17.0185         OPEN IN URBAN
1817  ENK 2021-02-13  ...               8.9776         OPEN IN URBAN
1818  ENK 2021-02-13  ...               8.9776         OPEN IN URBAN
1819  ENK 2021-02-13  ...               8.9776         OPEN IN URBAN

[1820 rows x 53 columns]

In [ ]:
merged_df.to_csv('/content/drive/MyDrive/FYP/sample_data.csv')

In [ ]:
merged_df=merged_df.drop(columns=['scalibility_score'])

In [ ]:
merged_df

     type   datetime  ... history_groundheight history_clutter_class
0     ENK 2021-02-13  ...             107.9658             OPEN LAND
1     ENK 2021-02-13  ...             107.9658             OPEN LAND
2     ENK 2021-02-13  ...             107.9658             OPEN LAND
3     NEC 2021-02-13  ...             107.9658             OPEN LAND
4     NEC 2021-02-13  ...             107.9658             OPEN LAND
...   ...        ...  ...                  ...                   ...
1815  ENK 2021-02-13  ...              17.0185         OPEN IN URBAN
1816  ENK 2021-02-13  ...              17.0185         OPEN IN URBAN
1817  ENK 2021-02-13  ...               8.9776         OPEN IN URBAN
1818  ENK 2021-02-13  ...               8.9776         OPEN IN URBAN
1819  ENK 2021-02-13  ...               8.9776         OPEN IN URBAN

[1820 rows x 52 columns]

In [ ]:
merged_df.dtypes

type                                     object
datetime                         datetime64[ns]
tip                                      object
mlid                                     object
mw_connection_no                          int64
site_id                                  object
card_type                                object
adaptive_modulation                      object
freq_band                                object
severaly_error_second                     int64
error_second                              int64
unavail_second                          float64
avail_time                                int64
bbe                                     float64
rxlevmax                                float64
capacity                                  int64
modulation                               object
rlf                                        bool
1-day-predict                            object
5-day-predict                              bool
nearest_station                          object
forecast_datetime                datetime64[ns]
temp_max_day5                             int64
temp_min_day5                             int64
humidity_max_day5                       float64
humidity_min_day5                       float64
wind_dir_day5                           float64
wind_speed_day5                         float64
weather_day5                             object
history_type                             object
history_datetime                 datetime64[ns]
history_tip                              object
history_mlid                             object
history_mw_connection_no                  int64
history_site_id                          object
history_card_type                        object
history_adaptive_modulation              object
history_freq_band                        object
history_severaly_error_second             int64
history_error_second                      int64
history_unavail_second                  float64
history_avail_time                        int64
history_bbe                             float64
history_rxlevmax                        float64
history_scalibility_score               float64
history_capacity                          int64
history_modulation                       object
history_rlf                                bool
history_1-day-predict                    object
history_5-day-predict                      bool
history_groundheight                    float64
history_clutter_class                    object
dtype: object

In [ ]:
merged_df['history_freq_band'].unique()

array(['f3', 'f2', 'f5', 'f4', nan, 'f1'], dtype=object)

In [ ]:
merged_df.columns[merged_df.isnull().any()]

Index(['freq_band', '1-day-predict', 'history_freq_band'], dtype='object')

In [ ]:
merged_df.isnull().sum()

type                                0
datetime                            0
tip                                 0
mlid                                0
mw_connection_no                    0
site_id                             0
card_type                           0
adaptive_modulation                 0
freq_band                          15
severaly_error_second               0
error_second                        0
unavail_second                      0
avail_time                          0
bbe                                 0
rxlevmax                            0
capacity                            0
modulation                          0
rlf                                 0
1-day-predict                    1820
5-day-predict                       0
nearest_station                     0
forecast_datetime                   0
temp_max_day5                       0
temp_min_day5                       0
humidity_max_day5                   0
humidity_min_day5                   0
wind_dir_day5                       0
wind_speed_day5                     0
weather_day5                        0
history_type                        0
history_datetime                    0
history_tip                         0
history_mlid                        0
history_mw_connection_no            0
history_site_id                     0
history_card_type                   0
history_adaptive_modulation         0
history_freq_band                  15
history_severaly_error_second       0
history_error_second                0
history_unavail_second              0
history_avail_time                  0
history_bbe                         0
history_rxlevmax                    0
history_scalibility_score           0
history_capacity                    0
history_modulation                  0
history_rlf                         0
history_1-day-predict               0
history_5-day-predict               0
history_groundheight                0
history_clutter_class               0
dtype: int64

In [ ]:
df=merged_df

In [ ]:
import math
max_mode=df['history_freq_band'].mode()
for i in range(0, df.shape[0]):
  if pd.isna(df['history_freq_band'][i]):
      df['history_freq_band'][i]=max_mode[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
import math
max_mode=df['freq_band'].mode()
for i in range(0, df.shape[0]):
  if pd.isna(df['freq_band'][i]):
      df['freq_band'][i]=max_mode[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
merged_df.columns[merged_df.isnull().any()]

Index(['1-day-predict'], dtype='object')

In [ ]:
df['wind_speed_day5']=df['wind_speed_day5'].astype('float')
df['humidity_min_day5']=df['humidity_min_day5'].astype('float')
df['humidity_max_day5']=df['humidity_max_day5'].astype('float')
df['capacity']=df['capacity'].astype('float')
df['history_capacity']=df['history_capacity'].astype('float')
df['wind_dir_day5']=df['wind_dir_day5'].astype('float')
df['freq_band'] = pd.factorize(df['freq_band'])[0]
df['history_freq_band'] = pd.factorize(df['history_freq_band'])[0]
df['weather_day5'] = pd.factorize(df['weather_day5'])[0]
df['nearest_station'] = pd.factorize(df['nearest_station'])[0]
df['type'] = pd.factorize(df['type'])[0]
df['history_type'] = pd.factorize(df['history_type'])[0]
df['tip'] = pd.factorize(df['tip'])[0]
df['history_tip'] = pd.factorize(df['history_tip'])[0]
df['mlid'] = pd.factorize(df['mlid'])[0]
df['history_mlid'] = pd.factorize(df['history_mlid'])[0]
df['mw_connection_no'] = pd.factorize(df['mw_connection_no'])[0]
df['history_mw_connection_no'] = pd.factorize(df['history_mw_connection_no'])[0]
df['site_id'] = pd.factorize(df['site_id'])[0]
df['history_site_id'] = pd.factorize(df['history_site_id'])[0]
df['card_type'] = pd.factorize(df['card_type'])[0]
df['history_card_type'] = pd.factorize(df['history_card_type'])[0]
df['history_card_type'] = pd.factorize(df['history_card_type'])[0]
df['history_adaptive_modulation'] = pd.factorize(df['history_adaptive_modulation'])[0]
df['adaptive_modulation'] = pd.factorize(df['adaptive_modulation'])[0]
df['history_clutter_class'] = pd.factorize(df['history_clutter_class'])[0]
df['modulation'] = pd.factorize(df['modulation'])[0]
df['history_modulation'] = pd.factorize(df['history_modulation'])[0]

In [ ]:
df['month']=1
df

      type   datetime  tip  ...  history_groundheight  history_clutter_class  month
0        0 2021-02-13    0  ...              107.9658                      0      1
1        0 2021-02-13    0  ...              107.9658                      0      1
2        0 2021-02-13    0  ...              107.9658                      0      1
3        1 2021-02-13    0  ...              107.9658                      0      1
4        1 2021-02-13    0  ...              107.9658                      0      1
...    ...        ...  ...  ...                   ...                    ...    ...
1815     0 2021-02-13    0  ...               17.0185                      6      1
1816     0 2021-02-13    0  ...               17.0185                      6      1
1817     0 2021-02-13    0  ...                8.9776                      6      1
1818     0 2021-02-13    0  ...                8.9776                      6      1
1819     0 2021-02-13    0  ...                8.9776                      6      1

[1820 rows x 53 columns]

In [ ]:
df=df.drop(columns=['history_scalibility_score'])

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df=df.reset_index()

In [ ]:
df

      index  type  ... history_clutter_class  month
0         0     0  ...                     0      1
1         1     0  ...                     0      1
2         2     0  ...                     0      1
3         3     1  ...                     0      1
4         4     1  ...                     0      1
...     ...   ...  ...                   ...    ...
1815   1815     0  ...                     6      1
1816   1816     0  ...                     6      1
1817   1817     0  ...                     6      1
1818   1818     0  ...                     6      1
1819   1819     0  ...                     6      1

[1820 rows x 53 columns]

In [ ]:
df.columns = df.columns.str.replace("5", "1")

In [ ]:
df

      index  type  ... history_clutter_class  month
0         0     0  ...                     0      1
1         1     0  ...                     0      1
2         2     0  ...                     0      1
3         3     1  ...                     0      1
4         4     1  ...                     0      1
...     ...   ...  ...                   ...    ...
1815   1815     0  ...                     6      1
1816   1816     0  ...                     6      1
1817   1817     0  ...                     6      1
1818   1818     0  ...                     6      1
1819   1819     0  ...                     6      1

[1820 rows x 53 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/FYP/val_preprocessed_data.csv')